table {
    width: 100%;
}

th {
    width: auto;
}

td {
    width: auto;
}

.container {
    margin: 1%;
}

.mat-form-field {
    font-size: 14px;
    width: auto;
}

.pointer {
    cursor: pointer;
}

.dcenter {
    display: flex;
    justify-content: center;
}