<div class="body">
    <div class="card">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form [formGroup]="form" *ngIf="!loading">
            <mat-horizontal-stepper>
                <mat-step label="{{ 'Select a program' | translate }}">


                    <mat-form-field appearance="fill">
                        <mat-label>{{ 'Select a program' | translate }}</mat-label>
                        <mat-select formControlName="program">
                            <mat-option *ngFor="let opt of selectProgramsOptions" [value]="opt.programid">
                                {{opt.programname}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>{{ 'Next' | translate }}</button>
                    </div>
                </mat-step>
                <mat-step label="{{ 'Upload CVS' | translate }}">
                    <div>
                        <mat-label>{{ 'Upload CSV(Clinical and Vaccination / Investigation / Classification)'| translate}}</mat-label>
                    </div>
                    <div> <input class="btn" (change)="onFileSelected($event)" requiredFiel formControlName="attachment" #fileInput type="file" id="file" accept=".xlsx,.cvs,.xls"></div>
                    <div>
                        <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
                        <button mat-button matStepperNext>{{ 'Next' | translate }}</button>
                    </div>
                </mat-step>
                <!-- <mat-step label="Cargar CSV(Laboratory)">
                  <div><mat-label>Cargar CSV(Laboratory)</mat-label></div>
                    <input class="btn" (change)="onFileSelected($event)"  formControlName="attachment" #fileInput type="file" id="file01">
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div> -->
                <!-- </mat-step> -->
                <mat-step label="{{ 'Period' | translate }}">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'Initial Period' | translate }}</mat-label>
                            <mat-select formControlName="startdate" (selectionChange)="selectdate($event.value)">
                                <mat-option *ngFor="let opt of selectPeriod" [value]="opt.id">
                                    {{opt.id}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'Final Period' | translate }}</mat-label>
                            <mat-select formControlName="enddate" (selectionChange)="selectdate($event.value)">
                                <mat-option *ngFor="let opt of selectPeriod" [value]="opt.id">
                                    {{opt.id}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
                        <button mat-button matStepperNext>{{ 'Next' | translate }}</button>
                    </div>
                </mat-step>
                <mat-step label="{{ 'Load' | translate }}">
                    <button mat-raised-button color="primary" class="loginElement button" type="submit" (click)="onUpload()" [disabled]="form.invalid">{{ 'Process' | translate }}</button>
                    <div>
                        <button mat-button matStepperPrevious>{{ 'Next' | translate }}</button>
                    </div>
                </mat-step>

            </mat-horizontal-stepper>
        </form>
    </div>
</div>